@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,600;1,900&display=swap");

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background: #e98724;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.TodoWrapper h1 {
  color: #e98724;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: normal;
}

.TodoWrapper {
  background: #eceff1;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(6, 4, 4, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid #fdfd96;
  width: 500px;
}
.TodoWrapper:hover {
  box-shadow: 0 0 20px #2d787c;
  border: 2px solid black;
}
.TodoInput input {
  border-radius: 20px;
}

.TodoForm {
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

input {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #eceff1;
  color: #e98724;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  font-family: poppins, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset -4px -4px 6px -1px #eceff1,
    inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
}
input:focus {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}
input:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}

input::placeholder {
  color: #e98724;
  opacity: 0.85;
  font-size: 18px;
  line-height: 18px;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

button {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.317rem;
  color: #e98724;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  line-height: 18px;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0);
  outline: none;
  text-align: center;
  background-color: #eceff1;
  transition: all 250ms ease-in-out;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
}
button:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}

button::after {
  opacity: 0.85;
}

.button:active {
  box-shadow: inset -4px -4px 6px -1px white,
    inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button-icon {
  display: inline-block;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
  margin-right: 0.317rem;
}
.button_primary {
  background-color: #1fa3ec;
}

.button_secondary {
  background-color: #e98724;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e98724;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: black;
  text-decoration: line-through;
}

.header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: light;
  color: #eceff1;
}

.todo-input {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  color:#e98724;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5;
  font-family: poppins, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  margin-left: 1rem;
  background-color: #eceff1;
  transition: all 250ms ease-in-out;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
}

.dropdown:active {
  box-shadow: inset -4px -4px 6px -1px white,
    inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5);
  border-color: rgba(255, 255, 255, 0);
}

.dropdown:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown:hover {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}

